<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <link rel="stylesheet" href="/css/Dashboard.css">
</head>
<body>
<nav class="navbar navbar-light justify-content-around"  style="background-color: #e3f2fd;">
        <div>
        <a href="/dashboard" style="text-decoration: none;color: black;">Home</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <a href="/dashboard/employeelist" style="text-decoration: none;color: black;"> Employee List</a>
        </div>
        <div>
            <span><%= user %></span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/logout" style="text-decoration: none;color: black;">Logout</a>
        </div>
      </nav>
    <div class="header">
        <div class="title">DashBord</div>
</div><br><br><br><br> <br><br><br><br>
<div style="display: flex;justify-content: center;">
    <p>Welcome Admin Panel</p>
</div>

</body>
</html>